footer .content {
    display: flex;
    flex-wrap: wrap;
    margin: calc(2 * var(--margin));
    gap: calc(2 * var(--margin));
}

footer .card {
    flex: 0 1 250px;
    line-height: 1.5;
}

footer header {
    color: #0d4363;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

footer li {
    margin-bottom: 15px;
}

footer > p {
    color: #5c5b61;
    margin: calc(2 * var(--margin));
}

@media screen and (min-width: 1000px) {
    footer .content {
        flex-wrap: nowrap;
        gap: calc(var(--margin) / 2);
        margin: var(--margin) calc(var(--aside-width) + var(--margin));
    }

    footer > p {
        margin-left: calc(var(--aside-width) + var(--margin));
        margin-top: 0px;
        margin-bottom: var(--margin);
    }
}