.hero-text {
    position: relative;
    width: min-content;
    height: min-content;
}

.hero-text .main-text {
    font-weight: 700;
    font-size: calc(32px + 8vw);
    line-height: 0.8;
    
    text-align: center;
    white-space: nowrap;
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 0) 20%, black 20%);
}

.hero-text .float {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 18%;
    aspect-ratio: 1 / 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    
    font-family: 'MarketOT', serif;
    font-size: calc(12px + 1.8vw);

    border-width: calc(1px + 0.5vw);
    border-style: solid;
    border-color: inherit;
    border-radius: 50%;
}

.hero-text.no-style .main-text {
    text-align: left;
    white-space: inherit;
    mask-image: none;
}