:root {
    --primary-color: #130326;
    --aside-width: calc(40px + 4vw);
    --margin: 3vw;
}

html {
    box-sizing: border-box;

    background-color: var(--primary-color);
    color: white;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.desktop {
    display: none;
}

@media screen and (min-width: 1000px) {
    :root {
        --margin: 7vw;
    }
    
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }
}